WCF.Winforms/Service References/WCFEmpresaService/EmpresaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcf.ikono.com.br/EmpresaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Service" />
  <xs:element name="GetEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Service" minOccurs="0" name="GetEmpresasResult" nillable="true" type="q1:ArrayOfEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Service" minOccurs="0" name="GetEmpresaByIDResult" nillable="true" type="q2:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>