WCF.Winforms/Service References/WCFEmpresaService/EmpresaService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="tns:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa" nillable="true" type="tns:ArrayOfEmpresa" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
</xs:schema>